<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
@*            <div class="heading-elements"> 
                <span class="avatar">
                    <img src="~/member/theme-assets/images/portrait/small/avatar-s-4.png" alt="avatar">
                </span>
            </div>*@
        </div>
        <div class="card-content">
            <div class="card-body">
               <p>Trevarsal Rezervasyon web uygulamasının kullanıcı Dashboard panelinde bulunmaktasınız. Aşağıda sizin ve acentamızın bazı istatistik bilgileri yer almaktadır. Bu istatistiklerin sizlerle beraber artmasını temenni ediyoruz. Gezi dolu daha nice günde buluşmak dileğiyle. </p>
                <h6 class="card-title">......</h6>
                <h6>Aktif Rezervasyon Sayınız: 4 </h6>
                <h6> Geçmiş Rezervasyon Sayınız: 12</h6>
                <h6> Onay Bekleyen Rezervasyon Sayınız: 12</h6>
                <h6> Toplam Rota Sayınız: 12</h6>
                <h6> Rehber Sayımız: 12</h6>
                <h6> Toplam Misafir Sayımız: 12</h6>
                <h6> Ortalama Puanımız: 8.9/10</h6>
                <br />
            </div>
        </div>
    </div>
</div>